@import "./variables.less";

#topAnalyticsPage {
  #parentSocialPage {
    > div {
      padding: 0 25px;
    }
    .UIMobileSwipeParentContainer {
      > .leftSocialPage, > .rightSocialPage {
        flex: 0 1 50%;
        max-width: 50%;
      }
    }
  }
  .singlePageApplication {
    padding: 0 14% 20px;
  }
}

.analytics-application {
  background: transparent !important;
  max-width: fit-content;
  margin: auto;

  textarea {
    margin-bottom: 0;
  }

  code {
    height: auto!important;
    line-height: 10px!important;
    vertical-align: middle;
    margin: 0!important;
    padding: 5px!important;
    white-space: initial !important;

    &:after, &:before {
      content: none !important;
    }
  }

  label {
    margin-bottom: 0;
  }

  .v-divider--vertical {
    vertical-align: middle;
  }

  .v-messages {
    min-height: auto;
  }

  .v-select__selections {
    max-width: 80%;
  }
  .v-divider {
    margin: 0;
  }
  .layout {
    max-width: 100%;
  }
  .v-input input {
    margin-bottom: 0;
    border: 0;
    box-shadow: none;
    min-height: 42px;
  }
  code {
    padding: 0;
    max-width: 100%;
    white-space: normal;
  }

  .operatorInput {
    width: auto;
  }

  .jsonSetting {
    height: 220px;
    textarea {
      height: 200px;
    }
  }

  .samplesDrawer {
    z-index: 2000
  }

  .analytics-chart-parent {
    .analytics-chart-header {
      .analytics-chart-title {
        max-width: 215px;
      }
    }
    .analytics-chart-body {
      height: 350px;
      width: 450px;
    }
  }

}
.analyticsDrawerContent {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;

  .sampleItemHeader {
    width: 100%;
    line-height: 1.5em;
  }
}